/*
style.css
BEIFirebase
KEN M. HAGGERTY
CREATED : Jun 07 2017
EDITED  : Jun 07 2017
*/

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}
